body {
    font-family: Arial, sans-serif;
    background-color: #efd4d4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

.attendance-form label {
    font-size: 1em;
    margin-right: 10px;
}

.attendance-form select {
    font-size: 1em;
    margin: 10px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #4c81af;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #a6b5ca;
}

#attendanceResult {
    margin-top: 30px;
}

#resultText {
    font-size: 1.3em;
    color: #333;
}
